<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="css/style.css"> 

  </head>
  <body>
    <div class="page-header center-text">
      <h1 id="small-h1"> Stalking Joe Burgess
      <br>
     <small id="small-text">...through his Twitter account </small></h1>
    </div> 
    <!-- ends page-header -->

    <div class="center-text" id="picture-box">
      <div id="picture">
        <h2 id="h3-padding"> In case you were wondering, this is Joe Burgess.</h2>
        <img src="images/joe_burgess.jpg" alt="joe picks apples" height="400px">
      </div> <!-- ends picture -->
    </div> 
    <!-- ends center-text -->

    <div class="main">
      <h2 class="fact-title">And because we all love weird facts, here are some about Joe...</h2>
    </div> <!-- ends main -->
    <div class="facts col-md-6" id="eating">
      <img src="images/eating.png">
    </div>
    <div class="row">
      <div class="facts col-md-6">
       <div id="actual-facts">
          <ul>
            <li>He can wiggle both ears independantly of each other</li>
            <li>He has an adult tooth that is the same size as a baby tooth. Guess which one?</li>
            <li> He loves food wrapped in food, like dumplings</li>
          </ul>
        </div> <!-- ends actual-facts -->
      </div> <!-- ends facts -->
    </div>
     <!-- ends row -->
    
    <div class="row orange" id="tall">
      <h2 class="tweet-title">
        And now, what you've all be waiting for, Joe's tweets
      </h2>
      <div class="col-md-4 orange tweet-text">
        <p class="tweeting"><%= @tweets.first_tweet_text %></p>
      </div>
      <div class="col-md-4 orange tweet-text">
        <p class="tweeting"><%= @tweets.second_tweet_text %></p>
      </div>
      <div class="col-md-4 orange tweet-text">
        <p class="tweeting"><%= @tweets.third_tweet_text %></p>
      </div>
    </div>
    <!-- ends row -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  </body>
</html>




