body {
  padding: 0px;
  margin: 0px;
}
.center-text{
  text-align: center;
}

.page-header {
  background-color: #E80C61;
  color: white;
  margin-top: 0px;
  padding-top: 15px;
  margin-bottom: 0px;
  left: 0px;
}

#small-h1{
  margin-top: 0px;
}
#small-text {
  color: white;
}

#h3-padding{
  margin-top: 0px;
  padding-top: 20px;
}

#picture-box{
  background-color: #48FFD3;
  padding-bottom: 1%;
  /*height: 500px;*/
}

#fact-title {
  padding-top: 30px;
  text-align: center;
  background-color: #7700FF;
  padding-bottom: 1%;
  margin-bottom: 0px;
}

.facts {
  background-color: #7700FF;
}

#actual-facts{
  padding-top: 15px;
  text-align: center;
  height: 350px;
}

#eating {
  padding-top: 15px;
  height: 350px;
  text-align: center;
}

.main {
  background-color: #7700FF;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
}

ul {
   list-style: none;
}

ul li:before {
   content: "♥";
   font-size: 190%; /* or whatever */
   padding-right: 5px;
}
